$main-primary: #23ABF0;

$base-white: #ffffff;
$base-black: #000000;
$base-grey: #f1f2f6;
$base-grey-blue: #c8c7cc;
$base-gray-cement: #949494;
$base-dark-gray-blue: #626d84;
$base-green-light: #50baae;
$base-green-dark: #09455B;
$base-honey: #f7bf14;

$status-danger: #fd2d39;